.env
.idea
.vscode
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
**/*.tfplan
__debug*
bin
build
dist
test
vendor
reports