---
page_title: "Provider: solacebroker"
description: |-
  A provider for a Solace PubSub+ Software Event Broker.  
---

# Solace PubSub+ Software Event Broker (solacebroker) Provider

The [Solace PubSub+ Platform](https://solace.com/products/platform/)'s [PubSub+ Software Event Broker](https://solace.com/products/event-broker/software/) 
efficiently streams event-driven information between applications, IoT devices and user interfaces running in cloud, on-premises, and hybrid environments 
using open APIs and protocols like AMQP, JMS, MQTT, REST and WebSocket.

It can be installed into a variety of public and private clouds, PaaS, and on-premises environments, 
and brokers in multiple locations can be linked together in an [Event Mesh](https://solace.com/what-is-an-event-mesh/) 
to dynamically share events across the distributed enterprise.

## Overview

The _solacebroker_ provider enables you to configure a PubSub+ Software Event Broker using Terraform.

This provider also offers the possibility to generate an [HCL configuration](https://developer.hashicorp.com/terraform/language) file from a preconfigured event broker.

Use the navigation to the left for more information in the guides and for the available provider resources and data sources.

## Limitations

> This version of the PubSub+ Terraform provider is generally available for production services contained within a Message VPN.  Use of any resource not contained within a Message VPN is not supported in production by Solace.

## Minimum broker version

The minimum required PubSub+ Software Event Broker version is 10.4.

## Example Usage

{{ tffile "examples/sampleconfig.tf" }}

{{ .SchemaMarkdown | trimspace }}

-> All provider configuration values can also be set as environment variables with the same name, but uppercase and with the `SOLACEBROKER_` prefix.
For example, the password attribute can be set via the `SOLACEBROKER_PASSWORD` environment variable.  Values in the configuration take precedence over environment variables.

## HTTP Proxy Support

This provider supports the environment variables `HTTP_PROXY`, `HTTPS_PROXY` and `NO_PROXY` (or the lowercase versions thereof) to configure clients to use the specified proxy server(s).

If the proxy URL contains a [userinfo](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2) subcomponent, the proxy request will pass the provided username and password for proxy authorization.
Example: `https_proxy=http://username:password@proxy:port`

# Release Notes and History

For detailed release notes and release history, see [this link](https://products.solace.com/download/DSEMP_TERRAFORM_SW_BROKER_PROVIDER_RN) and the Releases section in the [Provider GitHub repository](https://github.com/SolaceProducts/terraform-provider-solacebroker/releases).
