name: OpenTF Provider Test Pipeline

on: workflow_call

jobs:
  test:
    name: Run Provider setup and tests (OpenTF)
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up OpenTofu latest
        uses: opentofu/setup-opentofu@v1

      - name: Setup test broker - using edge docker image for latest release
        run: |
          mkdir -p $HOME/solace; chmod 777 $HOME/solace
          docker run -d -p 8080:8080 -p 55555:55555 --shm-size=1g --env username_admin_globalaccesslevel=admin --env username_admin_password=admin --env system_scaling_maxkafkabridgecount="10" --name=solace \
            --ulimit nofile=1048576:1048576 \
            --env system_scaling_maxconnectioncount="1000" --mount type=bind,source=$HOME/solace,destination=/var/lib/solace,ro=false solace/solace-pubsub-standard:edge
          while ! curl -s localhost:8080 | grep aurelia ; do sleep 1 ; done

      - name: Use local provider
        run: |
          echo "
          provider_installation {
            dev_overrides {
              \"registry.terraform.io/solaceproducts/solacebroker\" = \"${HOME}/go/bin\"
            }
            direct {}
          }" > ~/.tofurc

      - name: Build provider
        run: |
          go mod tidy
          make install
          ls ~/go/bin

      - name: Check provider available
        run: |
          pushd ci/broker_vpn_q
          tofu plan
          popd

      - name: Test provider on test broker
        run: |
          pushd ci/broker_vpn_q
          # Create
          tofu plan
          tofu apply -auto-approve
          sleep 1
          # Modify
          cat ../broker_vpn_q2/testconfig2.tf >> testconfig.tf
          tofu plan
          tofu apply -auto-approve
          sleep 1
          # Delete
          tofu destroy -auto-approve
          sleep 1
          # import
          tofu apply -auto-approve
          sleep 1
          rm terraform.tfstate*
          tofu import solacebroker_msg_vpn.newone new
          popd

      - name: Test provider params from env
        run: |
          pushd ci/broker_vpn_test2
          SOLACEBROKER_USERNAME=admin SOLACEBROKER_PASSWORD=admin tofu apply -auto-approve
          bash -c "SOLACEBROKER_BEARER_TOKEN=abc tofu apply -auto-approve 2>&1" | grep 401
          popd

      - name: Test broker object attributes override
        run: |
          pushd ci/brokertest
          tofu apply -auto-approve
          tofu plan | grep "No changes"
          popd

      - name: Test larger config
        run: |
          pushd ci/bigtest
          tofu plan
          tofu apply -auto-approve
          tofu plan
          tofu destroy -auto-approve
          popd

      - name: Test unknown provider param, proving that the solace provider can tolerate unknown provider params until later when it is defined
        run: |
          pushd ci/provider_dependency
          tofu init # sets up the random provider, which will be used to generate a random password (which will be used but login will fail)
          bash -c "tofu apply -auto-approve &> results.out" || echo "Expecting tofu apply to fail"
          cat results.out | grep "401 Unauthorized"
          popd

      - name: Test state upgrade
        run: |
          pushd ci/state_upgrade
          bash -c "tofu plan &> results.out" || echo "Expecting tofu plan to fail"
          cat results.out | grep "Found deprecated state key 'deprecated_att"
          cp terraform.tfstate terraform.tfstate.bak
          sed -i '/deprecated_att/d' terraform.tfstate # remove deprecated non-null attributes from state
          tofu plan | grep "3 to add"
          tofu apply -auto-approve | grep "Apply complete"
          # GH actions fails on following commands, need to investigate. Passes locally.
          # diff terraform.tfstate terraform.tfstate.bak > diff.out
          # ls -l
          # cat diff.out
          # grep ">           \"schema_version\": 0," diff.out | wc -l | grep 3 # verify schema has been upgraded
          # grep ">             \"deprecated1\": null," diff.out # verify deprecated has been removed
          # grep ">               \"deprecated2\": null," diff.out # verify deprecated has been removed
          # grep "<               \"clear_percent\": 20," diff.out # verify string has been converted to number
          # grep "<             \"egress_enabled\": true," diff.out # verify string has been converted to bool
          # terraform destroy -auto-approve
          popd
